<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <title>eBike Store</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/styles.css">

  <!--script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script -->

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- a class="brand-logo" href="#"><img class="brand-logo" src="assets/icons/brand-logo.png" alt="logo" width="50px" height="50px" style="background-position: center; padding: 0px 10px 15px 0px"></a -->
        <a class="navbar-brand" href="/">
          <h2>eBike <em>Store</em> <strong class="focus-dot"> >> </strong> </h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cart.html">Your Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register/Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4>Mission Electric</h4>
          <h2>Join us to make sure no more petrol bike</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <!-- div class="text-content">
          <h4>Flash Deals</h4>
          <h2>Get your best products</h2>
        </div ---->
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Ride Ecofriendly</h4>
          <h2>Let's Make this World Carbon-Free</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="latest-products" style="background-color: #F1EEE9;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 style="text-align: center; text-decoration: underline; font-weight: bold;">Our Products</h2>
            <!-- a href="products.html">view all products <i class="fa fa-angle-right"></i></a -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="products.html"><img src="assets/images/white-bike.jpg" alt=""></a>
            <div class="down-content">
              <a href="products.html">
                <h4 style="background-color:#DA0037; color: white;">NF-1250</h4>
              </a>
              <h6 style="background-color: #DA0037; font-size: 16px; color: white;">Rs.6500</h6>
              <p class="product-desc">
                <img src="assets/icons/speed-icon.svg" alt="" class="product-icon">
                <strong>115 Km/Hr Top Speed </strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/distance-range-icon.svg" alt="" class="product-icon">
                <strong>True Range: 150 km on single charge</strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/pickup-icon.svg" alt="" class="product-icon">
                <strong>0 to 50 Km/Hr in 3.0 sec</strong>
              </p>
              <ul class="stars" style="color:#8C0000">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <strong>&emsp;&emsp;&emsp;&emsp; Reviews (24)</strong>
              </ul>
              <div class="card-body">
                <a href="#" class="btn btn-warning"><img src="assets/icons/cart-plus-solid.svg" alt="addtocart" class="nav-icon"></a>
                <a href="#" class="btn btn-warning "><img src="assets/icons/heart-circle-plus-solid.svg" alt="addtowishlist" class="nav-icon"></a>
              </div>
              <div class="see-details-button">
                <a href="products.html" class="btn btn-danger"><strong>See Details</strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="products.html"><img src="assets/images/red-bike.webp" alt=""></a>
            <div class="down-content">
              <a href="products.html">
                <h4 style="background-color:#DA0037; color: white;">NF-1500</h4>
              </a>
              <h6 style="background-color: #DA0037; font-size: 16px; color: white;">Rs.7500</h6>
              <p class="product-desc">
                <img src="assets/icons/speed-icon.svg" alt="" class="product-icon">
                <strong>145 Km/Hr Top Speed </strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/distance-range-icon.svg" alt="" class="product-icon">
                <strong>True Range: 180 km on single charge</strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/pickup-icon.svg" alt="" class="product-icon">
                <strong>0 to 50 Km/Hr in 2.8 sec</strong>
              </p>
              <ul class="stars" style="color:#8C0000">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <strong>&emsp;&emsp;&emsp;&emsp; Reviews (21)</strong>
              </ul>
              <div class="card-body">
                <a href="#" class="btn btn-warning"><img src="assets/icons/cart-plus-solid.svg" alt="addtocart" class="nav-icon"></a>
                <a href="#" class="btn btn-warning "><img src="assets/icons/heart-circle-plus-solid.svg" alt="addtowishlist" class="nav-icon"></a>
              </div>
              <div class="see-details-button">
                <a href="products.html" class="btn btn-danger"><strong>See Details</strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="products.html"><img src="assets/images/black-bike.webp" alt=""></a>
            <div class="down-content">
              <a href="products.html">
                <h4 style="background-color:#DA0037; color: white;">THAR-1600</h4>
              </a>
              <h6 style="background-color: #DA0037; font-size: 16px; color: white;">Rs.18000</h6>
              <p class="product-desc">
                <img src="assets/icons/speed-icon.svg" alt="" class="product-icon">
                <strong>160 Km/Hr Top Speed </strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/distance-range-icon.svg" alt="" class="product-icon">
                <strong>True Range: 200 km on single charge</strong>
              </p>
              <p class="product-desc">
                <img src="assets/icons/pickup-icon.svg" alt="" class="product-icon">
                <strong>0 to 50 Km/Hr in 2.0 sec</strong>
              </p>
              <ul class="stars" style="color:#8C0000">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <strong>&emsp;&emsp;&emsp;&emsp; Reviews (36)</strong>
              </ul>
              <div class="card-body">
                <a href="#" class="btn btn-warning"><img src="assets/icons/cart-plus-solid.svg" alt="addtocart" class="nav-icon"></a>
                <a href="#" class="btn btn-warning "><img src="assets/icons/heart-circle-plus-solid.svg" alt="addtowishlist" class="nav-icon"></a>
              </div>
              <div class="see-details-button">
                <a href="products.html" class="btn btn-danger"><strong>See Details</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="user-testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="ection-heading">
            <h2 style="text-align: center; text-decoration: underline; font-weight: bold; padding: 2%; background-color: #F1EEE9;">Listen From Our Happy Users ! </h2>
          </div>
        </div>
        <div class="col-md-12 testimonial">
          <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active container-fluid">
                <h2 class="testimonial-text">Its a fantastic electric scooter with comfort and very good riding control.</h2>
                <img class="testimonial-image" src="assets/images/team_01.jpg" alt="dog-profile">
                <p style="color: white;">
                  <em>David, Mumbai</em>
                </p>
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="testimonial-text">The THAR 1600 an ideal addition to your garage !</h2>
                <img class="testimonial-image" src="assets/images/team_02.jpg" alt="lady-profile">
                <p style="color:white;"><em>Monica, Delhi</em></p>

              </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="press-section" id="press">
    <img class="press-logo" src="assets/images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="assets/images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="assets/images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="assets/images/mashable.png" alt="mashable-logo">
  </section>

  <footer class="reachus" id="footer">
    <div class="container-fluid">
      <a href="#" style="color: red;"><i class="social-icon fa fa-facebook"></i></a>
      <a href="#" style="color: red;"><i class="social-icon fa fa-twitter"></i></a>
      <a href="#" style="color: red;"><i class="social-icon fa fa-instagram"></i></a>
      <a href="contact.html" style="color: red;"><i class="social-icon fa fa-envelope"></i></a>
      <p style="color:white;">© Copyright 2022 EBIKE STORE</p>
      <p style="color:white;">made with <strong style="color: red;">&#10084;</strong> in India
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/accordions.js"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) { //declaring the array outside of the
      if (!cleared[t.id]) { // function makes it static and global
        cleared[t.id] = 1; // you could use true and false, but that's more typing
        t.value = ''; // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>
